<!DOCTYPE html>
<html ng-app="CodeTaskApp">
    <head>
        <title>Deck_of_Cards</title>
        <meta charset="UTF-8">
        <meta name="description" content="Interactive app / angularJS Bootstrap" />
        <meta name="author" content="Karolos Talvis">

        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="jasmine/lib/jasmine-2.4.1/jasmine.css">
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/cardService.js"></script>
        <script type="text/javascript" src="jasmine/lib/jasmine-2.4.1/jasmine.js"></script>
        <script type="text/javascript" src="jasmine/lib/jasmine-2.4.1/jasmine-html.js"></script>
        <script type="text/javascript" src="jasmine/lib/jasmine-2.4.1/boot.js"></script>
        <script type="text/javascript" src="js/cardSpec.js"></script>

    </head>
    <body ng-controller="MainController as vm">
        <div class="container space_top">
          <div class="col-md-12">
            <div class="row">
              <button type="button" ng-click="shuffleDeck(vm.deck)" ng-disabled="vm.deck.length < 2" class="btn btn-default">Shuffle</i></button>
              <div class="pull-right instructions">
                <h4>You can draw cards by clicking on them!</h4>
              </div>
            </div>
            <div class="row space_top">
              <div ng-repeat="item in vm.deck">
                <div class="card" id="{{item.id}}" ng-click="removeItem($index)">
                  <div class="red" ng-if="item.suit == '♥' || item.suit == '♦'">
                    <span class="card__suit card__suit--top">{{item.value}}</span>
                    <span class="card__value card__value--top">{{item.suit}}</span>
                    <span class="card__center text-center">{{item.suit}} </span>
                    <span class="card__suit card__suit--bottom">{{item.value}}</span>
                    <span class="card__value card__value--bottom">{{item.suit}}</span>
                  </div>
                  <div class="black" ng-if="item.suit == '♠' || item.suit == '♣'">
                    <span class="card__suit card__suit--top">{{item.value}}</span>
                    <span class="card__value card__value--top">{{item.suit}}</span>
                    <span class="card__center text-center">{{item.suit}} </span>
                    <span class="card__suit card__suit--bottom">{{item.value}}</span>
                    <span class="card__value card__value--bottom">{{item.suit}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row space_top">
            <button type="button" ng-disabled="vm.newDeck.length < 2" ng-click="sortDeck(vm.newDeck)" class="btn btn-default">Sort</button>
            <div class="pull-right instructions">
              <h4>You need more than one drawn cards to sort the new deck!</h4>
            </div>
            </div>
            <div class="row space_top">
              <div ng-repeat="item in vm.newDeck">
                <div class="card" id="{{item.id}}" ng-click="addItem($index)">
                  <div class="red" ng-if="item.suit == '♥' || item.suit == '♦'">
                    <span class="card__suit card__suit--top">{{item.value}}</span>
                    <span class="card__value card__value--top">{{item.suit}}</span>
                    <span class="card__center text-center">{{item.suit}} </span>
                    <span class="card__suit card__suit--bottom">{{item.value}}</span>
                    <span class="card__value card__value--bottom">{{item.suit}}</span>
                  </div>
                  <div class="black" ng-if="item.suit == '♠' || item.suit == '♣'">
                    <span class="card__suit card__suit--top">{{item.value}}</span>
                    <span class="card__value card__value--top">{{item.suit}}</span>
                    <span class="card__center text-center">{{item.suit}} </span>
                    <span class="card__suit card__suit--bottom">{{item.value}}</span>
                    <span class="card__value card__value--bottom">{{item.suit}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottomSpacing"></div>
    </body>
</html>
